@import url(../style.css);

.star-rating {
    font-size: 1.5em;
    direction: rtl;
    display: flex;
}
.star-rating input {
    display: none;
}
.star-rating label {
    cursor: pointer;
    color: #ddd;
}
.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
color: var(--secondary-color);
}
.range-labels {
    display: flex;
    justify-content: space-between;
    color: var();
}
#boton-enviar {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #fe96ca;
    border-color: var(--secondary-color);
    border-radius: 5px;
}