@import url(../styles/style.css);

/* Titulo */
h1{
    display: flex;
    justify-content: center;
};
/* Tarjeta de descripcion */
.tarjeta-descripcion{
    margin: 5px;

}
#galeria .col-lg-4{
    margin: 0 !important;
    padding: 20px;
}

#galeria img{
    width: 100%;
    height: 250px;
}
#galeria img:hover{
    border: 5px solid ;
}

/* .imagenLugar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img.imagen-c{
    width: 500px !important;
    max-height: max-content;
} */

/* Contenedor de Tarjeta Reseña y Mapa */
.contenedor-dos{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly; 
    align-items:center;
    gap:10px;
    padding: 20px;
}
/* Tarjeta Reseña */
 .card.text-bg-light{
    background-color: var(--hg-color) !important;
    border: 5px;
    margin: 15px; 
    padding: auto;
    height: 225px;
}
li{
    text-align: left;
    
}
#tarjertaReseña{
    margin: 40px;
    padding: 45px;
}


/* Mapa */
#map {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    height: 300px;
    width: 800px;

}

/* Estrellas */
.bi-star-fill{
    color: var(--secondary-color);
    margin: 3px;
}
/* Boton de Reseña */
.btn.btn-primary{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    width: 200px !important; 
}
.btn.btn-primary:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);

}