@import url(../styles/style.css);


.img-cover {
    width: 1110px;
    height: 200px;
    object-fit: cover;
    border-radius:25px ;
   
}

h1{
    font-size: 15px;
}
.card-body {
    background-color: var(--hg-color) !important;
    border: 2px solid #77aaff;
    margin: 10px; 
    padding: auto;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    font-size: 15px;
}

.card-text{
    margin-left: 15px; /* Ajusta este valor según sea necesario */
    margin-right: 15px; /* Ajusta este valor según sea necesario */
   text-align: center;
   font-size: 15px;
}
p{
    margin-left: 1px; /* Ajusta este valor según sea necesario */
    margin-right: 15px; /* Ajusta este valor según sea necesario */
   text-align: left;
   font-size: 15px;
}


.icono {
    margin-left: 15px; 
    color: #ff83c2;
   font-size: 20px;
}

.iframe-container {
    width: 100%; 
    height: 100%; /* Altura fija (ajusta según tus necesidades) */
    position: relative; 
    overflow: hidden; 
    border-radius: 25px;
}


.iframe-responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    border: none; 
}

.overflow-hidden {
    overflow: hidden!important;
}

.p-0 {
    padding: 0!important;
}

.mt-n5 {
    margin-top: -3rem!important;
}

.linear-gradient {
    background-image: linear-gradient( #ff83c2 60%, #77aaff 30%, #b4ffe3 );
 
}
.rounded-circle {
    border-radius: 50%!important;
}

.align-items-center {
    align-items: center!important;
}

.justify-content-center {
    justify-content: center!important;
}

.d-flex {
    display: flex!important;
}

.rounded-2 {
    border-radius: 7px !important;
}

.bg-light-info {
    --bs-bg-opacity: 1;
    background-color: rgb(48, 114, 206)!important;
}

.card {
    margin-bottom: 30px;
}

.position-relative {
    position: relative!important;
}

.shadow-none {
    box-shadow: none!important;
}

.overflow-hidden {
    overflow: hidden!important;
}

.border {
    border: 1px solid #ff83c2 !important;
}

.fs-6 {
    font-size: 1.25rem!important;
}



.d-block {
    display: block!important;
}

a {
    text-decoration: none;
}

.user-profile-tab .nav-item .nav-link.active {
    color: #5d87ff;
    border-bottom: 2px solid #5d87ff;
}


.fw-semibold {
    font-weight: 600!important;
}
.fs-4 {
    font-size: 1rem!important;
}

.card, .bg-light {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.fs-2 {
    font-size: .75rem!important;
}

.rounded-4 {
    border-radius: 4px !important;
}

.ms-7 {
    margin-left: 30px!important;
}
   
span{
    text-align: right;
}


/* Estrellas */
.bi-star-fill{
    color: var(--secondary-color);
    margin: 3px;
    font-size: 30px;
}
/* Boton de Reseña */
.btn.btn-primary{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    width: 200px !important; 
}
.btn.btn-primary:hover{
    /* background-color: var(--primary-color); */
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);

}